/* Importação da Fonte */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

/*---------Começo da estilização do NavBar---------*/
body{
    background-color: #f7f7f7;
}
.nav-bar {
    width: 100%;
    min-height: 10rem;
}
@media screen and (min-width: 1000px){
    .nav-bar {
        display: flex;
        width: 100vw;
    }
}

@media screen and (min-width: 600px){
    .central {
        display: flex;
    }

    .inform {
        margin-top: 2rem;
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        justify-content: center;
    }

    .titulo, .titulo1, .titulo2 {
        max-width: 30%;
    }

}

.central{
    height: 100%;
    align-items: end;
}

.logo {
    justify-content: center;
    display: flex;
    align-items: center;
    margin-left: 1rem;
    margin-top: 0.5rem;
}
.rede{
    color: rgb(16, 74, 160);
    font-size: 2rem; 
    margin-left: 1rem;  
}

.rede h1 {
    font-size: 2.2rem;
}
.usual{
    display: flex;
    padding: 0.3rem 1rem;
    background-color: #e6e2e2;
    border-radius: 100px;
}
.icon{
    width: 2.6rem;
    display: flex;
    margin: 0.6rem;
}
.usuario{
    color: #000000;
    font-size: 1rem;
    border-radius: 10%;
}
.nav-options {
    display: flex;
    align-items: center;
}

.nav-options ul {
    display: flex;
    justify-content: center;
    list-style: none;
}
.nav-link {
    text-decoration: none;
    font-size: 1rem;
    color: #000000;
    font-weight: 400;
}
.nav-itens{
    display: flex;
    justify-content: end;
    margin-right: 3rem;
}

.nav-item{
    padding: 1rem;
    min-width: 6rem;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item a{
    display: flex;
    align-items: center;
    justify-content: center;
    display: inline-block;
    transition: background 0.6s;
}
.nav-item:hover{
    background-color: #b8b4b4;
    transition: background 0.6s;
    height: 6rem;
    min-width: 6rem;
}

/* barra inferior de navegação */

.barra{
    display: flex;
    padding-bottom: 2rem;
    padding-top: 2rem;
}
.quadrado{
    display: flex;
    align-items: center;
    width: 1000px;
    height: 40px;
    background-color: #237793;
}
.triangulo {
    width: 100px;
    height: 80px;
    background-color: #237793;
    clip-path: polygon(0% 0%, 80% 50%, 0% 50%);
}

.diretorio{
    color: white;
    margin-left: 2rem;
    font-size: x-large;
}
  

/* Imagem de fundo */
.pesquisa{
    background-image: url(../img/decoraçao.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Caixa de Pesquisa */
.caixa{
    padding: 1.5rem 2rem;
    width: 100%;
    height: 2rem;
    border: 0;
    font-size: 1rem;
    
}
/* Estilização da Div "digitacao" */
.digitacao {
    display: flex;
    align-items: center;
    list-style: none;
}
.digitacao a {
    text-decoration: none;
    color: #ffffff;
    background-color: rgb(17, 149, 161);
    margin-left: 1rem;
    padding: 0.8rem 1rem;
    
}
/* Mensagem em cima da caixa de digitação */
.convite{
    color: #ffffff;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: revert-layer;
}
/* Dados sobre a quantidades de Instituições,Laboratorios e Equipamento  */
.num{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.num li{
    text-align: center;
    background-color: rgba(17, 149, 161, 0.8);
    color: #ffffff;
    padding: 2rem 2rem;
    margin: 2rem 2rem;
    font-size: 1.3rem;
    border-radius: 10px;
}

.casa{
    padding-right: 10px;
    width: 50px;
    height: 40px;
}
h2,h4{
    text-align: justify;
    padding-bottom: 2rem;
}
.inform {
    margin-top: 2rem;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;
}

.titulo,
.titulo1,
.titulo2 {
    padding: 1rem;
}

.titulo h2,
.titulo1 h2,
.titulo2 h2 {
    color: #006AB2;
}

.titulo {
    max-height: 10%;
}

.titulo1 {
    flex-direction: column;
    max-height: 10%;
}

.titulo1 h2 {
    color: #006AB2;
}

.titulo2 {
    margin-left: 0px;
}




/* Regulamento */
.row{
    margin-left: 10%;
    width: 80%;
    display: flex;
    justify-content: center;
}

#b_regulamento{
    background-color: #c1d1dd;
    height: 3rem;
    text-align: center;
    margin-bottom: 15px;
}

#regulamento{
    font-size: large;
    font-weight: 700;
    color: #7596ad;
    line-height: 50px;
    width: 100%;
    display: inline-block;
}

.descricao_regulamento{
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.h5{
    color: #5f5f5f;
}

.container_regulamento{
    margin-left: 1rem;
}

/* CATALOGO */

.catalogo{
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: ruby-text;
}

.quad_catalogo{
    height: 11rem;
    width: 80%;
    display: flex;
    border: solid 2px black;
}

.img-equi{
    height: 100%;
    width: 25%;
}

.infor-equi{
    width: 75%;
    height: 100%;
}

.descr-equi h6{
    max-width: 80%;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

.catalogo h2,h4,h6{
    padding: 0;
    margin-left: 1rem;
    margin-top: 0.5rem;
}

.catalogo b{
    color: #045388;
}

.mais-detalhes{
    display: flex;
    justify-content: end;
    margin: 1rem;  
}

.mais-detalhes button{
    text-decoration: none;
    color: #ffffff;
    background-color: rgb(16, 129, 140);
    padding: 8px;
    border: solid rgb(255, 255, 255) 1px;
    border-radius: 10px;
    font-size: 0.8rem;
}

.paginação{
    display: flex;
    align-items: center;
    justify-content: center;
}
.paginação a{
margin: 1rem;
}