/* Importação da Fonte */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

/*---------Começo da estilização do NavBar---------*/
body{
    background-color: #f7f7f7;
}
.nav-bar {
    width: 100%;
    min-height: 10rem;
}

.central{
    height: 100%;
    display: flex;
    align-items: end;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    margin-top: 0.5rem;
}
.rede{
    color: rgb(16, 74, 160);
    font-size: 2rem; 
    margin-left: 1rem;  
}

.rede h1 {
    font-size: 2.2rem;
}
.usual{
    display: flex;
    padding: 0.3rem 1rem;
    background-color: #e6e2e2;
    border-radius: 100px;
}
.icon{
    width: 2.6rem;
    display: flex;
    margin: 0.6rem;
}
.usuario{
    color: #000000;
    font-size: 1rem;
    border-radius: 10%;
}
.nav-options {
    display: flex;
    align-items: center;
    width: 100vw;
}

.nav-options ul {
    display: flex;
    justify-content: center;
    list-style: none;
}
.nav-link {
    text-decoration: none;
    font-size: 1rem;
    color: #000000;
    font-weight: 400;
}
.nav-itens{
    width: 100%;
    display: flex;
    justify-content: end;
    margin-right: 3rem;
}

.nav-item{
    padding: 1rem;
    min-width: 6rem;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item a{
    display: flex;
    align-items: center;
    justify-content: center;
    display: inline-block;
    transition: background 0.6s;
}
.nav-item:hover{
    background-color: #b8b4b4;
    transition: background 0.6s;
    height: 6rem;
    min-width: 6rem;
}
.deslogar-button {
    margin-right: 5rem;
}


/* barra inferior de navegação */

.barra{
    display: flex;
    padding-bottom: 2rem;
    padding-top: 2rem;
}
.quadrado{
    display: flex;
    align-items: center;
    width: 1000px;
    height: 40px;
    background-color: #86a2a9b7;
}
.triangulo {
    width: 100px;
    height: 80px;
    background-color: #86a2a9b7;
    clip-path: polygon(0% 0%, 80% 50%, 0% 50%);
}

.diretorio{
    color: white;
    margin-left: 2rem;
    font-size: x-large;
}
/* Informações */

.casa{
    padding-right: 10px;
    width: 50px;
    height: 40px;
}
h2,h4{
    text-align: justify;
    padding-bottom: 2rem;
}

.inform {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;
}

.titulo,
.titulo1,
.titulo2 {
    padding: 1rem;
    max-width: 30%;
}

.titulo h2,
.titulo1 h2,
.titulo2 h2 {
    color: #006AB2;
}

.titulo {
    max-height: 10%;
}

.titulo1 {
    flex-direction: column;
    max-height: 10%;
}

.titulo1 h2 {
    color: #006AB2;
}

.titulo2 {
    margin-left: 0px;
}




/* Regulamento */
.row{
    margin-left: 10%;
    width: 80%;
    display: flex;
    justify-content: center;
}

#b_regulamento{
    background-color: #c1d1dd;
    height: 3rem;
    text-align: center;
    margin-bottom: 15px;
}

#regulamento{
    font-size: large;
    font-weight: 700;
    color: #7596ad;
    line-height: 50px;
    width: 100%;
    display: inline-block;
}

.descricao_regulamento{
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.h5{
    color: #5f5f5f;
}

.container_regulamento{
    margin-left: 1rem;
}